﻿<div class="jumbotron">
    <h1>CBC Pepsi Api</h1>
    <p class="lead">Web services for CBC PEPSI.</p>
    <p>
        <a href="/Help" class="btn btn-primary btn-lg">Read more &raquo;</a>
    </p>
</div>